/* Styling for the navigation bar -- referenced from notes and W3 schools */
ul {
  list-style-type: none; /* remove default formatting and re-style */
  background-color: #003366;
  margin: 0;
  padding: 0;
  overflow: hidden; /*used to keep content contained*/
  position: fixed; /*used to pin the navbar*/
  top: 0; /*used to keep the header at the top of the page*/
  width: 100%; /*used to stretch the navbar the full window*/
  font-family: arial;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*used to create the apperance of interactivity*/
li a:hover { 
  background-color: #002347;
  cursor: pointer;
}

/* Styling for the body elements */
body {
  font-family: "arial";
  background-color:#ffe5cc;
  margin: 0;
  padding: 0;
  padding-top: 50px; /* used to keep the content from being hidden behind the navigation bar */
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-family: "impact";
  text-align: center;
  color: #002347;
}

img {
  display: block; /* using block to displace the content around the image */
  width: 25%; /* Set to 25% to be kept consistent with other pages */
  margin-left: auto; /* using auto to center the image */
  margin-right: auto;
  margin-bottom: 20px;
}

h3 {
  font-family: "impact";
  text-align: center;
  color: #8ecae6;
}

p {
  font-family: "arial";
  font-style: italic;
  text-align: center;
  color: white;
}

/* This styling previously relied on JS for functionality. It is a placeholder to give the 'idea' of the final product once JS is included. */
.accordion {
  max-height: 100px;
  text-align: center;
  margin: 30px;
  background-color: #003366;
  border-radius: 10px;
  margin-bottom: 20px;
}
.content span {
  display: inline-block;
  height: 0;
  overflow: hidden;
  transition: opacity 2s;
  opacity: 0;
}
.content span.fade-in {
  height: auto;
  opacity: 1;
}

.button {
  background-color: #003366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
  background-color: #002347;
}

/* Styling for the footer to keep it stretched and pinned to the bottom of the page */
footer {
  position: fixed; /*used to keep the footer pinned to the bottom of the page*/
  width: 100%; /*used to stretch the footer the width of the page*/
  left: 0; /*used to correct formatting that caused the footer to appear truncated*/
  bottom: 0; /*used to ensure the footer registers at the bottom of the page*/
  background-color: #002347;
  color: white;
  font-size: 12px;
  font-family: arial;
}
