/* Styling for the navigation bar -- referenced from notes and W3 schools */
ul {
  list-style-type: none; /* remove default formatting and re-style */
  background-color: #003366;
  margin: 0;
  padding: 0;
  overflow: hidden; /*used to keep content contained*/
  position: fixed; /*used to pin the navbar*/
  top: 0; /*used to keep the header at the top of the page*/
  width: 100%; /*used to stretch the navbar the full window*/
  font-family: arial;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*used to create the apperance of interactivity*/
li a:hover{
  background-color: #002347;
  cursor: pointer;
}
.active {
  background-color: #8ecae6;
}

/* body/main components */
body {
  background-color:#ffe5cc;
  margin: 0; /* set to 0 to remove defaults and help block div elements */
  padding: 0;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Styling for the header section -- referenced from notes and W3 schools */
.header-background{
  background-image: url("photos/foodbanner.jpg");
  background-size: cover;
  background-position: center;
  opacity: .7; /* set for contrast and to keep from being eye-straining */
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 300px;
  margin-top: 48px; /* used to keep the header image from overlapping with the navigation bar */
}
.header-text{
  position: absolute;
  transform: translate(50px, 50px); /* This, alongside top and left, are used to center the text over the background -- referenced from textbook */
  top: 50px;
  left: 555px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background-color: #002347;
} 
.header-text h1 {
  font-family: "Impact";
  font-size: 40px;
}
.header-text h3 {
  font-family: "Arial";
  font-style: italic;
}

/* formatting for the general text area(s) */
.main-text{
  text-align: center;
  margin-top: 50px;
}
/* multiple declarations to preserve CSS formatting */
.main-text h1, .main-text h2, .main-text h3 {
  font-family: "impact";
  text-align: center;
  color: #002347;
}
/* seperated from the headers for more control despite minimal changes */
.main-text p {
  font-family: "arial";
  font-style: italic;
  text-align: center;
}

/* button formatting */
.button {
  background-color: #003366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button:hover {
  transform: scale(.98); /* used to give the apperance of interactivity */
  cursor: pointer;
}

/* image carousel components -- this relies on JS to function correctly, and has been adjusted to display a placeholder image. */
.carousel {
  width: 1200px;
  height: 200px;
  margin: 40px;
  left: 250px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}
.slide > img {
  width: 1200px;
  height: 200px;
  position: absolute;
  object-fit:cover; /*used to keep differently-sized images within the confines of the height/width, referenced from MDN webdocs*/
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slide.active {
  opacity: 1;
  position: relative;
}

/* Styling for the footer to keep it stretched and pinned to the bottom of the page */
footer {
  position: fixed; /*used to keep the footer pinned to the bottom of the page*/
  width: 100%; /*used to stretch the footer the width of the page*/
  left: 0; /*used to correct formatting that caused the footer to appear truncated*/
  bottom: 0; /*used to ensure the footer registers at the bottom of the page*/
  background-color: #002347;
  color: white;
  font-size: 12px;
  font-family: arial;
}
