/* Nav Bar components */
ul {
  list-style-type: none;
  background-color: #003366;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
li a:hover{
  background-color: #002347;
}
.active {
  background-color: #8ecae6;
}

/* body/main components */
body {
  background-color:#ffe5cc;
}

/* head components */
.header-background{
  background-image: url("photos/foodbanner.jpg");
  background-size: cover;
  background-position: center;
  opacity: .5;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  position: relative;
  height: 300px;
}
.header-text{
  position: absolute;
  background-color: #ffd3ab;
  transform: translate(50px, 50px);
  top: 60px;
  left: 600px;
  padding: 10px 20px;
  text-align: center;
  color: white;
} 
.header-text h1 {
  font-family: "Impact";
}
.header-text h3 {
  font-style: italic;
}

/* image carousel components */
.image-carousel {
  width: 1200px;
  height: 200px;
  margin: 40px;
  left: 300px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}
.image-carousel img.slide{
  width: 1200px;
  height: 200px;
  object-fit:cover;
}

/*flavortext formatting*/
.flavor-text h2 {
  font-family: "impact";
  text-align: center;
}
.flavor-text p {
  font-style: italics;
  text-align: center;
}

footer {
  font-size: 12px;
}
