/* Styling for the navigation bar -- referenced from notes and W3 schools */
ul {
    list-style-type: none; /* remove default formatting and re-style */
    background-color: #003366;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: arial;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
    background-color: #002347;
  }
  
  #title{
    text-align: center;
    margin-bottom: 20px;
  }

/* Styling for the body elements */
  body {
    font-family: "arial";
    background-color:#ffe5cc;
    margin: 0; /* set to 0 to remove defaults and help block div elements */
    padding: 0;
    padding-top: 50px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #thanks{
    text-align: center;
    font-style: italic;
  }

  h1{
    font-family: "impact";
    color: #002347;
  }
  
  img {
    width: 25%;
    margin-bottom: 20px;
  }

  form {
    text-align: center;
  }

/* used to set the space for responses */
  textarea{
    width: 600x;
    height: 200px;
  }

/* adjustments to the labels of the form, [for=email] syntax referenced from textbook */
  label[for=email]{
    font-family: "impact";
    color: #002347;
  }

  label[for=issue]{
    font-size: 30px;
    font-family: "impact";
    color: #002347;
  }
  
.button {
    background-color: #003366;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; /* remove default formatting and re-style */
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
.button:hover {
    transform: scale(.98);
    cursor: pointer;
  }

/* defined via ID for greater control as compared to rest of body section */
#note{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
  }

/* JS formatting to allow for a pop-up window on form submission will eventually be input here. */

/* Styling for the footer to keep it stretched and pinned to the bottom of the page */
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #002347;
  color: white;
  font-size: 12px;
  font-family: arial;
}
