/* Styling for the navigation bar -- referenced from notes and W3 schools */
ul {
  list-style-type: none; /* remove default formatting and re-style */
  background-color: #003366;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: arial;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #002347;
}
.active {
  background-color: #8ecae6;
}

body {
  background-color:#ffe5cc;
  margin: 0; /* set to 0 to remove defaults and help block div elements */
  padding: 0;
  font-family: impact, arial;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img{
  display: block; /* using block to displace the content around the image */
  margin-left: auto; /* using auto to center the image */
  margin-right: auto;
  width: 25%; /* Set to 25% to be kept consistent with other pages */
}

.text-content{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* combined to improve CSS formatting */
.text-content h1, .text-content h2, .text-content h3 {
  font-family: "impact";
  text-align: center;
  color: #002347;
}
.text-content p {
  font-family: "arial";
  font-style: italic;
  text-align: center;
}

.button {
  background-color: #003366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; /* remove default formatting and re-style */
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button:hover {
  transform: scale(.98); /* used to create the apperance of interactivity */
  cursor: pointer;
}

/* Styling for the footer to keep it stretched and pinned to the bottom of the page */
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #002347;
  color: white;
  font-size: 12px;
  font-family: arial;
}
